<div class="container">
    <form [formGroup]="employeeForm" (ngSubmit)="employeeData(employeeForm)"  class="form-box3">
        <h3>Employee Details!!</h3>
        <div class="form-group" >
            <label>Employee ID: </label>
            <input type="number" formControlName="employeeid" class="form-control-mb-3-mt-3" placeholder="Enter Employee ID">
        </div>
        <div class="form-group">
            <label>FullName:</label>
            <input type="text" formControlName="fullname" class="form-control-mb-3-mt-3" placeholder="Enter Employee Name">
        </div>
        <div class="form-group">
           <label>Email ID: </label>
           <input type="email" formControlName="emailid" class="form-control-mb-3-mt-3" placeholder="Enter Email ID">
        </div>
        <div class="form-group">
            <label>Mobile No. : </label>
            <input type="mobile"  formControlName="mobileno"class="form-control-mb-3-mt-3" placeholder="Enter Mobile Number">
         </div>
         <div class="form-group">
            <label>Gender :</label>
            <input type="radio" formControlName="gender" id="male" value="male" class="form-control-mb-3-mt-3">Male
            <input type="radio" formControlName="gender" id="female" value="female" class="form-control-mb-3-mt-3">Female
         </div>
         <div class="form-group">
            <label >Salary : </label>
            <input type="number" formControlName="salary"class="form-control-mb-3-mt-3" placeholder="Enter Salary in INR">
         </div>
         <div class="form-group">
            <label>Joining Date : </label>
            <input type="date" formControlName="joiningdate" class="form-control-mb-3-mt-3" placeholder="Enter Joining Date">
         </div>
         <br>
         <button input type="submit" class="btn btn-sucess" >Save</button>
    </form>
</div>
<router-outlet></router-outlet>
