
 <!-- <mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>supervised_user_circle</mat-icon>
  </button>
  <span>Angular 13 CRUD-app using Material UI</span>
  <span class="example-spacer"></span>
  <button style="margin-right:10px" mat-raised-button color="warn">login</button>
  <button mat-raised-button color="warn">Sign up</button>
  <button mat-raised-button color="warn">dashboard</button>
</mat-toolbar>
-->


<router-outlet></router-outlet>
